{% extends "base.html" %}

{% block content %}

{% if form.errors %}
{{ form.errors }}
{% endif %}

<form action={{ url_for('order') }} method='POST'>
  {{ form.csrf_token() }}

<!--
To display a RadioField with the default styling you can simply type form.myradiofield.
If you want to change the styling, e.g. not show the items as list items, you need to iterate
through them yourself as below.
  -->

  <table>
    <tr>
      <td colspan=2><h1>Starters</h1></td>
    </tr>

    {% for item in form.starter %}
    <tr>
      <td>{{ item.label }}</td>
      <td>{{ item }}</td>
    </tr>
    {% endfor %}

    <tr>
      <td colspan=2><h1>Mains</h1></td>
    </tr>

    {% for item in form.main %}
    <tr>
      <td>{{ item.label }}</td>
      <td>{{ item }}</td>
    </tr>
    {% endfor %}

    <tr>
      <td colspan=2><h1>Deserts</h1></td>
    </tr>

    {% for item in form.desert %}
    <tr>
      <td>{{ item.label }}</td>
      <td>{{ item }}</td>
    </tr>
    {% endfor %}

    <tr>
      <td>{{ form.submit }}</td>
      <td>&nbsp;</td>
    </tr>
</table>
</form>


{% endblock %}
